<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>生态评估报告</title>
	
	<!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	
	<!-- Styles -->
    <link href="static/assets3/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/assets3/css/lib/themify-icons.css" rel="stylesheet">
    <link href="static/assets3/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="static/assets3/css/lib/sidebar.css" rel="stylesheet">
    <link href="static/assets3/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets3/css/lib/nixon.css" rel="stylesheet">
    <link href="static/assets3/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="active">
                        <a class="sidebar-sub-toggle"><i class="ti-home"></i>数据总览<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="dashboard1">数据总览 1</a></li>
                            <li><a href="dashboard2">数据总览 2</a></li>
                        </ul>
                    </li>
                      
                      
                    <li><a href="app-profile"><i class="ti-user"></i> 生态评估报告</a></li>
                    <li><a href="app-widget-card"><i class="ti-layout-grid2-alt"></i> 重要信息</a></li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-layout"></i>图像展示<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="images">珍稀昆虫图像展示</a></li>     
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-panel"></i>LoRa通信装置组网图<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="datamap">组网图</a></li>   
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i>数据分析图<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="chart">分析图1</a></li>
                              
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> 数据表格 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="table">表格1</a></li> 
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="#">
                    <img id="logoImg" src="static/logo/logo1.png" data-logo_big="static/logo/logoSmall2.png" data-logo_small="static/logo/logo1.png" alt="Nixon" />
                </a>
            </div>
            <div class="hamburger sidebar-toggle">
                <span class="ti-menu"></span>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                
                <li class="header-icon dib">
                    <img class="avatar-img" src="static/assets3/images/avatar/1.jpg" alt="" /> <span class="user-avatar">User<i class="ti-angle-down f-s-10"></i></span>
                    <div class="drop-down dropdown-profile">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Upgrade Now</span>
                            <p class="trial-day">30 Days Trail</p>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="#"><i class="ti-settings"></i> <span>Setting</span></a></li>
                                <li><a href="#"><i class="ti-help-alt"></i> <span>Help</span></a></li>

                                <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END chat Sidebar-->


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>生态评估报告</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Pages</a></li>
                                    <li class="active">Profile</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card alert">
                                <div class="card-body">
									<div class="user-profile">
										<div class="row">
											<div class="col-lg-4">
												<div class="user-photo m-b-30">
													<img class="img-responsive" src="static/assets3/images/user-profile.jpg" alt="" />
												</div>
												<div class="user-work">
													<h4>基本信息</h4>
													<div class="work-content">
														<h3>评估时间范围：</h3>
														<p>2023年4月1日至</p>
														<p>2024年4月1日</p>
													</div>
													<div class="work-content">
														<h3>评估空间范围：</h3>
														<p>93 平方千米</p>
														
													</div>
												</div>
												<div class="user-skill">
													<h4>评估指标</h4>
													<ul>
														<li><a href="#">人类干扰指数</a></li>
														<li><a href="#">物种多样性指数</a></li>
														<li><a href="#">优势度指数</a></li>
														<li><a href="#">丰富度指数</a></li>
														<li><a href="#">均匀度指数</a></li>
													</ul>
												</div>
											</div>
											<div class="col-lg-8">
												<div class="user-profile-name">砚湖滨海湿地</div>
												<div class="user-Location"><i class="ti-location-pin"></i>山东省，青岛市</div>
												<div class="user-job-title">2024年3月份生态评估报告</div>
												<div class="ratings">
													<h4>综合评级</h4>
													<div class="rating-star">
														<span>8.9</span>
														<i class="ti-star color-primary"></i>
														<i class="ti-star color-primary"></i>
														<i class="ti-star color-primary"></i>
														<i class="ti-star color-primary"></i>
														<i class="ti-star"></i>
													</div>
												</div>
												<div class="user-send-message"><button class="btn btn-primary btn-addon" type="button"><i class="ti-email" ></i><a style="color: #fff;" href="static/assets3/砚湖滨海湿地生态评估报告.pdf" download>点击下载</a></button></div>
												<div class="custom-tab user-profile-tab">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">基本信息概要：</a></li>
													</ul>
													<div class="tab-content">
														<div role="tabpanel" class="tab-pane active" id="1">
															<div class="contact-information">
																
																<div class="phone-content">
																	<span class="contact-title">人类干扰指数:</span>
																	<span class="phone-number">评估得分为7.5，表明人类活动对湿地的影响处于较低水平，但仍存在一定的干扰，如旅游业和渔业活动。</span>
																</div>
																<div class="address-content">
																	<span class="contact-title">物种多样性:</span>
																	<span class="mail-address">评估得分为9.2，显示出该湿地具有较高的物种多样性，但某些物种的数量有所下降，需要关注其变化趋势。</span>
																</div>
																<div class="email-content">
																	<span class="contact-title">优势度指数:</span>
																	<span class="contact-email">评估得分为8.6，说明湿地中存在一些占优势地位的物种，但整体上物种分布较为均衡。</span>
																</div>
																<div class="website-content">
																	<span class="contact-title">丰富度指数:</span>
																	<span class="contact-website">评估得分为8.7，表明湿地生物种类繁多，生态系统类型丰富。</span>
																</div>
																
															</div>
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div><!-- /# column -->
						<div class="col-lg-6">
							



						
								<div class="col-lg-12">
									<div class="card alert">
										<div class="card-header">
											<h4>昆虫群落多样性指数</h4>
											<div class="card-header-right-icon">
												<ul>
													<li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
													<li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
														<ul class="card-option-dropdown dropdown-menu">
															<li><a href="#"><i class="ti-loop"></i> Update data</a></li>
															<li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
															<li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
															<li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
														</ul>
													</li>
													 
												</ul>
											</div>
										</div>
										<div class="card-body">
											<table class="table table-responsive table-hover ">
												<thead>
													<tr>
														<th>月份</th>
														<th>J均匀度指数</th>
														<th>H’多样性指数</th>
														<th>D优势度指数</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>2023.11</td>
														<td><span class="badge badge-primary">0.815</span></td>
														<td>3.331</td>
														<td class="color-primary">0.93</td>
													</tr>
													<tr>
														<td>2023.12</td>
														<td><span class="badge badge-success">0.799</span></td>
														<td>3.121</td>
														<td class="color-success">0.89</td>
													</tr>
													<tr>
														<td>2024.01</td>
														<td><span class="badge badge-danger">0.786</span></td>
														<td>3.091</td>
														<td class="color-danger">0.87</td>
													</tr>
													<tr>
														<td>2024.02</td>
														<td><span class="badge badge-primary">0.791</span></td>
														<td>3.215</td>
														<td class="color-primary">0.90</td>
													</tr>
													<tr>
														<td>2024.03</td>
														<td><span class="badge badge-success">0.818</span></td>
														<td>3.437</td>
														<td class="color-success">0.92</td>
													</tr>
													<tr>
														<td>2024.04</td>
														<td><span class="badge badge-danger">0.836</span></td>
														<td>3.697</td>
														<td class="color-danger">0.95</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								
								
							</div>
							
						</div><!-- /# column -->
                    
    
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
    </div><!-- /# content wrap -->






    <script src="static/assets3/js/lib/jquery.min.js"></script><!-- jquery vendor -->
    <script src="static/assets3/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
    <script src="static/assets3/js/lib/sidebar.js"></script><!-- sidebar -->
    <script src="static/assets3/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="static/assets3/js/lib/mmc-common.js"></script>
    <script src="static/assets3/js/lib/mmc-chat.js"></script>
    <script src="static/assets3/js/scripts.js"></script><!-- scripit init-->


    


</body>

</html>