<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>数据分析图</title>
	
	<!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	
	<!-- Styles -->
    <link href="static/assets3/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/assets3/css/lib/themify-icons.css" rel="stylesheet">
    <link href="static/assets3/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="static/assets3/css/lib/sidebar.css" rel="stylesheet">
    <link href="static/assets3/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets3/css/lib/nixon.css" rel="stylesheet">
    <link href="static/assets3/css/style.css" rel="stylesheet">
	
		<style type="text/css">

	</style>
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="active">
                        <a class="sidebar-sub-toggle"><i class="ti-home"></i>数据总览<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="dashboard1">数据总览 1</a></li>
                            <li><a href="dashboard2">数据总览 2</a></li>
                        </ul>
                    </li>
                      
                      
                    <li><a href="app-profile"><i class="ti-user"></i> 生态评估报告</a></li>
                    <li><a href="app-widget-card"><i class="ti-layout-grid2-alt"></i> 重要信息</a></li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-layout"></i>图像展示<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="images">珍稀昆虫图像展示</a></li>     
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-panel"></i>LoRa通信装置组网图<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="datamap">组网图</a></li>   
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i>数据分析图<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="chart">分析图1</a></li>
                              
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> 数据表格 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="table">表格1</a></li> 
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="#">
                    <img id="logoImg" src="static/logo/logo1.png" data-logo_big="static/logo/logoSmall2.png" data-logo_small="static/logo/logo1.png" alt="Nixon" />
                </a>
            </div>
            <div class="hamburger sidebar-toggle">
                <span class="ti-menu"></span>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                
                <li class="header-icon dib">
                    <img class="avatar-img" src="static/assets3/images/avatar/1.jpg" alt="" /> <span class="user-avatar">User<i class="ti-angle-down f-s-10"></i></span>
                    <div class="drop-down dropdown-profile">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Upgrade Now</span>
                            <p class="trial-day">30 Days Trail</p>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="#"><i class="ti-settings"></i> <span>Setting</span></a></li>
                                <li><a href="#"><i class="ti-help-alt"></i> <span>Help</span></a></li>

                                <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END chat Sidebar-->



    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
							<div class="page-title">
								<h1>砚湖湿地生态系统多样性指数图</h1>
							</div>
						</div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="#">Dashboard</a></li>
									<li class="active">Chart</li>
								</ol>
							</div>
						</div>
                    </div>
                </div>
				<div class="main-content"> 
					<div class="row">
						<div class="col-lg-6">
							<div class="card alert">
								<div class="card-header">
									<h4>近30天内生态评估情况</h4>
								</div>
								<div class="flot-container">
									<div id="flot-pie" class="flot-pie-container"></div>
								</div>
							</div><!-- /# card -->
						</div><!-- /# column -->
						
						<div class="col-lg-6">
							<div class="card alert">
								<div class="card-header">
									<h4>生物量估计情况</h4>
								</div>
								<div class="flot-container">
									<div id="chart1" style="width:100%;height:275px;"></div>
								</div>
							</div><!-- /# card -->
						</div><!-- /# column -->
					</div><!-- /# row -->
					<div class="row">
						<div class="col-lg-6">
							<div class="card alert">
								<div class="card-header">
									<h4>设备耗电情况</h4>
								</div>
								<div class="flot-container">
									<div id="flotBar" style="width:100%;height:275px;"></div>
								</div>
							</div><!-- /# card -->
						</div><!-- /# column -->
						
						<div class="col-lg-6">
							<div class="card alert">
								<div class="card-header">
									<h4>湿地每分钟人流量</h4>
								</div>
								<div class="flot-container">
									<div id="flotCurve" style="width:100%;height:275px;"></div>
								</div>
							</div><!-- /# card -->
						</div><!-- /# column -->
					</div><!-- /# row -->     </div>
    
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
    </div><!-- /# content wrap -->







    <script src="static/assets3/js/lib/jquery.min.js"></script><!-- jquery vendor -->
    <script src="static/assets3/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->  
    <script src="static/assets3/js/lib/sidebar.js"></script><!-- sidebar -->
    <script src="static/assets3/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="static/assets3/js/lib/mmc-common.js"></script>
    <script src="static/assets3/js/lib/mmc-chat.js"></script>
	<!--  flot-chart js -->
	<script src="static/assets3/js/lib/flot-chart/excanvas.min.js"></script>
	<script src="static/assets3/js/lib/flot-chart/jquery.flot.js"></script>
	<script src="static/assets3/js/lib/flot-chart/jquery.flot.pie.js"></script>
	<script src="static/assets3/js/lib/flot-chart/jquery.flot.time.js"></script>
	<script src="static/assets3/js/lib/flot-chart/jquery.flot.stack.js"></script>
	<script src="static/assets3/js/lib/flot-chart/jquery.flot.resize.js"></script>
	<script src="static/assets3/js/lib/flot-chart/jquery.flot.crosshair.js"></script>
	<script src="static/assets3/js/lib/flot-chart/curvedLines.js"></script>
	<script src="static/assets3/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js"></script>
	<script src="static/assets3/js/lib/flot-chart/flot-chart-init.js"></script>
	<!-- // flot-chart js -->
    <script src="static/assets3/js/scripts.js"></script><!-- scripit init-->
	  

</body>

</html>