<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>图像展示</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="static/assets3/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/assets3/css/lib/themify-icons.css" rel="stylesheet">
    <link href="static/assets3/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="static/assets3/css/lib/sidebar.css" rel="stylesheet">
    <link href="static/assets3/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets3/css/lib/nixon.css" rel="stylesheet">
    <link href="static/assets3/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="active">
                        <a class="sidebar-sub-toggle"><i class="ti-home"></i>数据总览<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="dashboard1">数据总览 1</a></li>
                            <li><a href="dashboard2">数据总览 2</a></li>
                        </ul>
                    </li>
                      
                      
                    <li><a href="app-profile"><i class="ti-user"></i> 生态评估报告</a></li>
                    <li><a href="app-widget-card"><i class="ti-layout-grid2-alt"></i> 重要信息</a></li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-layout"></i>图像展示<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="images">珍稀昆虫图像展示</a></li>     
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-panel"></i>LoRa通信装置组网图<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="datamap">组网图</a></li>   
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i>数据分析图<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="chart">分析图1</a></li>
                              
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> 数据表格 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="table">表格1</a></li> 
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="#">
                    <img id="logoImg" src="static/logo/logo1.png" data-logo_big="static/logo/logoSmall2.png" data-logo_small="static/logo/logo1.png" alt="Nixon" />
                </a>
            </div>
            <div class="hamburger sidebar-toggle">
                <span class="ti-menu"></span>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                
                <li class="header-icon dib">
                    <img class="avatar-img" src="static/assets3/images/avatar/1.jpg" alt="" /> <span class="user-avatar">User<i class="ti-angle-down f-s-10"></i></span>
                    <div class="drop-down dropdown-profile">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Upgrade Now</span>
                            <p class="trial-day">30 Days Trail</p>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="#"><i class="ti-settings"></i> <span>Setting</span></a></li>
                                <li><a href="#"><i class="ti-help-alt"></i> <span>Help</span></a></li>

                                <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END chat Sidebar-->




    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>珍稀昆虫图像展示</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Elements</a></li>
                                    <li class="active">Basic</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>Carabusdauidi硕步甲</h4>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted m-b-15">硕步甲常栖息于砖石、落叶下或浇浅土层。昼伏夜出，多捕食鳞翅目、双翅目昆虫及蜗牛、蛞蝓等小型软体动物。中国特有物种。属于国家二级重点野生保护动物。</p>
                                    <img src="static/assets3/images/paris.jpg" class="img-rounded img-responsive" alt="Cinque Terre">
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-3">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>Golden Kaiserihind</h4>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted m-b-15"> 金斑喙凤蝶是鳞翅目凤蝶科喙凤蝶属昆虫。前翅有一条黑色斜带，此带以内区域色浓，以外色淡；外缘有两条平行的黑带；后翅外缘齿状，有翠绿色月牙形斑纹。</p>
                                    <img src="static/assets3/images/newyork.jpg" class="img-circle img-responsive" alt="Cinque Terre">
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-3">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4> 金斑喙凤蝶</h4>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted m-b-15">金斑喙凤蝶是世界八大名贵蝴蝶之首，一直被世界上的蝴蝶专家誉为“梦幻中的蝴蝶”，具有极高的观赏价值。在1981年广西金秀大瑶山自然资源考察中首次被发现， 因极其稀少珍贵，被列入中国《国家重点保护野生动物名录》一级。</p>
                                    <img src="static/assets3/images/sanfran.jpg" class="img-thumbnail img-responsive" alt="Cinque Terre">
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-3">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>ophiogomphus spinicorne 宽纹北箭蜓</h4>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted m-b-15">是一种珍稀昆虫，个头比尖板曦箭蜓稍大，雄性腹长40毫米，后翅长35毫米；是国家二级重点保护野生动物。</p>
                                    <img src="static/assets3/images/lights.jpg" class=" img-responsive" alt="Cinque Terre">
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>珍稀昆虫画廊</h4>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted m-b-15"> </p>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <a href="static/assets3/images/lights.jpg">
                                                    <img src="static/assets3/images/lights.jpg" alt="Lights" style="width:100%">
                                                    <div class="caption">
                                                        <p>ophiogomphus spinicorne 宽纹北箭蜓</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <a href="static/assets3/images/nature.jpg">
                                                    <img src="static/assets3/images/nature.jpg" alt="Nature" style="width:100%">
                                                    <div class="caption">
                                                        <p>heliogomphus retroflexus尖板曦箭蜓</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <a href="static/assets3/images/fjords.jpg">
                                                    <img src="static/assets3/images/fjords.jpg" alt="Fjords" style="width:100%">
                                                    <div class="caption">
                                                        <p>Cheirotomus spp彩臂金龟</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->     </div>
 
        </div>
        <!-- /# container-fluid -->
    </div>
    <!-- /# main -->
    </div>
    <!-- /# content wrap -->







    <script src="static/assets3/js/lib/jquery.min.js"></script>
    <!-- jquery vendor -->
    <script src="static/assets3/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="static/assets3/js/lib/sidebar.js"></script>
    <!-- sidebar -->
    <script src="static/assets3/js/lib/bootstrap.min.js"></script>
    <!-- bootstrap -->
    <script src="static/assets3/js/lib/mmc-common.js"></script>
    <script src="static/assets3/js/lib/mmc-chat.js"></script>
    <!--  Chart js -->
    <!--  Chart js -->
    <script src="static/assets3/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="static/assets3/js/lib/chart-js/chartjs-init.js"></script>
    <!-- // Chart js -->
    <!-- // Chart js -->
    <script src="static/assets3/js/scripts.js"></script>
    <!-- scripit init-->





</body>

</html>